code/local.properties
code/app/google-services.json
code/.idea/
code/.gradle/
code/*.iml
code/local.properties
code/.idea/caches
code/.idea/libraries
code/.idea/modules.xml
code/.idea/workspace.xml
code/.idea/navEditor.xml
code/.idea/assetWizardSettings.xml
code/build
code/captures
code/.externalNativeBuild
code/.cxx
.DS_Store